@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.hover\:bg-light-gray:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(103 160 205 / 14%) !important;
}
.css-i02g0k-MuiTableCell-root {
  text-align: start !important;
}
.css-177gid-MuiTableCell-root {
  text-align: start !important;
}
.css-ffg8md-MuiNativeSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-ffg8md-MuiNativeSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-ffg8md-MuiNativeSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  height: 190px !important;
}
